<div class="parent grid-margin vh-100">
  <div class="child rounded" style="height: auto;">
    <form class="form" [formGroup]="resetPasswordForm">
      <div class="d-flex flex-column justify-content-center align-items-center mt-5">


        <span>
          <h4 class="fw-bold">Reset Password</h4>
        </span>

        <div class="form-group w-75 ">
          <span><label for="email">Email</label></span>
          <span><input type="text" class="form-control form-rounded mx-auto email " formControlName="email" id="email"
              name="email" placeholder="Email"></span>
          <span class="icon fa fa-envelope"></span>
        </div>


        <div class="form-group w-75 mt-4">
          <span><label for="email">Password</label></span>
          <div class="">
            <input type="text" class="form-control" formControlName="newPassword" id="formGroupExampleInput"
              placeholder="New password" [type]="FieldTextType?'text':'password'" #pw>
          </div>

          <div class="d-flex justify-content-end position-relative">
            <span class="me-2" style="position: absolute;bottom: 8px;"><i class="fas fa fa-eyeIcon" [ngClass]="{
                                  'fa-eye-slash': !FieldTextType,
                                  'fa-eye': FieldTextType
                                }" (click)="toggleFieldTextType()"></i>
            </span>
          </div>

          <div class="valid-text">
            <div
              *ngIf="resetPasswordForm.get('newPassword')?.invalid && (resetPasswordForm.get('newPassword')?.touched || resetPasswordForm.get('newPassword')?.dirty)"
              class="text-danger abc">
              <span *ngIf="resetPasswordForm.controls?.['newPassword']?.errors?.['required']">Password is
                Required</span>
              <span *ngIf="resetPasswordForm.controls?.['newPassword']?.errors?.['pattern']">Password Must contain below
                conditions.
                <ul class="lh-1 h-25">


                  <li
                    [ngClass]="{'text-success':checkValidations(resetPasswordForm.controls['newPassword'],'uppercase'), 'danger': !checkValidations(resetPasswordForm.controls['newPassword'],'uppercase')}">
                    Min 1 Uppercase Letter.</li>
                  <li
                    [ngClass]="{'text-success':checkValidations(resetPasswordForm.controls['newPassword'],'lowercase'), 'danger': !checkValidations(resetPasswordForm.controls['newPassword'],'lowercase')}">
                    Min 1 Lowercase Letter.</li>
                  <li
                    [ngClass]="{'text-success':checkValidations(resetPasswordForm.controls['newPassword'],'special-character'), 'danger': !checkValidations(resetPasswordForm.controls['newPassword'],'special-character')}">
                    Min 1 Special Character.</li>
                  <li
                    [ngClass]="{'text-success':checkValidations(resetPasswordForm.controls['newPassword'],'number'), 'danger': !checkValidations(resetPasswordForm.controls['newPassword'],'number')}">
                    Min 1 Number.</li>
                  <li
                    [ngClass]="{'text-success':checkValidations(resetPasswordForm.controls['newPassword'],'length'), 'danger': !checkValidations(resetPasswordForm.controls['newPassword'],'length')}">
                    Min 8 Characters.</li>
                  <li
                    [ngClass]="{'text-success':checkValidations(resetPasswordForm.controls['newPassword'],'length'), 'danger': !checkValidations(resetPasswordForm.controls['newPassword'],'length')}">
                    Max 16 Characters.</li>
                </ul>
              </span>

            </div>
          </div>
        </div>

        <!-- <div class="form-group w-75 mt-4">
          <div class="">
            <input type="password" class="form-control" formControlName="confirmPassword" id="formGroupExampleInput2"
              placeholder="Confirm password"  #cpw (keyup)='checkPasswords(pw.value, cpw.value)'>
          </div>

          <div class="valid-text">
            <div *ngIf="resetPasswordForm.get('confirmPassword')?.invalid && (resetPasswordForm.get('confirmPassword')?.touched || resetPasswordForm.get('confirmPassword')?.dirty)"
                class="text-danger">
               
                    <span *ngIf="resetPasswordForm.controls?.['confirmPassword']?.errors?.['required']">Confirm Password is Required</span>
                  
                    <div class="text-danger" *ngIf='!passwordsMatching && isConfirmPasswordDirty'>
                        Password did not match  
                    </div>                  
            </div>
        </div>
        </div> -->
        <!-- <div class="otp-field form-group w-75 mt-4" formControlName="otp">
          <span><label for="email">OTP</label></span>
          <div class="otp-input-fields">
            <input type="number" class="otp__digit otp__field__1">
            <input type="number" class="otp__digit otp__field__2">
            <input type="number" class="otp__digit otp__field__3">
            <input type="number" class="otp__digit otp__field__4">
            <input type="number" class="otp__digit otp__field__5">
            <input type="number" class="otp__digit otp__field__6">
          </div>
        </div> -->
        
        <div class="form-group w-75 mt-4">
          <span><label for="">Enter OTP to verify</label></span>
  
        <ngx-otp-input id="otp"  #ngxotp [config]="otpInputConfig" (fill)="handleFillEvent($event)">
        </ngx-otp-input>

      </div>
        <!-- <ngx-otp-input #ngxotp [config]="otpInputConfig" (fill)="handleFillEvent($event)"> </ngx-otp-input> -->
       

      </div>

      <div class="d-grid gap-2 col-6 mx-auto mt-4 mb-4 w-75">
        <button class="btn btn-primary" type="submit" (click)="resetPassword()">Reset Password</button>
      </div>
    </form>
  </div>
</div>
<p-toast></p-toast>