.parent{
    background: linear-gradient(to top,

    #f6f6f6 0%,
    #f6f6f6 60%,
    #fc5800 40%,
    #fc5800 80%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
    height: auto;
}

.child{
background: white;
height: 450px;
width: 500px;
}

.btn-primary{
    color: #fc5800;
    border-color: #fc5800;
    background-color: white;
}

.btn-primary:hover{
    color: white;
    background-color: #fc5800;
}

/* .text{
    width: 500px;
    height: 40px;
    font-size: medium;
} */

/* .valid-text{
    height: 5px;
} */

/* input[type="text"] {
    width: 350px;
    border: 2px solid #aaa;
    border-radius: 4px;
    margin:8px 0;
    outline: none;
    padding-left: 38px;
    box-sizing: border-box;
    transition: 0.3s;
} */

.email{
    padding-left: 38px;
}

.icon {
position: relative;
float: left;
margin-left: 20px;
margin-top: -28px;
color: grey;
}


  
  
.otp-input-fields{
    margin: auto;
    background-color: white;
    /* box-shadow: 0px 0px 8px 0px #02025044; */
    max-width: 400px;
    width: auto;
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 20px;
    
    input{
      height: 40px;
      width: 40px;
      background-color: transparent;
      border-radius: 4px;
      border: 1px solid grey;
      text-align: center;
      outline: none;
      font-size: 16px;
      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
  
      /* Firefox */
      &[type=number] {
        -moz-appearance: textfield;
      }
      &:focus{
        border-width: 2px;
        border-color: darken(#2f8f1f, 5%);
        font-size: 20px;
      }
    }
  }

  #otp {
    width: 28px !important;
    /* height: 35px;
    text-align: center;
    font-size: 1.25rem;
    border: 1px solid #212121;
    border-radius: 4px;
    outline: 0; */
}
    
@media(max-width:425px)
{
  
.child{
  background: white;
  height: 300px;
  width: 350px;
  }

}

@media(max-width:375px)
{
  
.child{
  background: white;
  height: 300px;
  width: 300px;
  }

}

@media(max-width:320px)
{
  
.child{
  background: white;
  height: 300px;
  width: 280px;
  }

}


