
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">


<!-- box-center -->

<!-- <div class="parent grid-margin vh-100">
    <div class="child">

<span>hiii</span>
    </div>
  </div>
   -->

<body onload="getcookiedata()">
  <div class="block-left">
    <span><img src="../../assets/Images/Login-img.png" alt=""></span>
  </div>

  <form [formGroup]="loginForm" >
    <div class="block-right ">
      <div class="text-center" style="position: relative;top: 25%;">
        <span>
          <h2 class="fw-bold">Sign in</h2>
        </span>


        <div class="form-group">
          <span><input type="text" class="form-control form-rounded mx-auto mt-5 " formControlName="email" id="email"
              name="email" placeholder="Email" ></span>
          <span class="icon fa fa-envelope"></span>
          <div class="invalid-feedback">
            Please enter email.
          </div>
        </div>

        <div class="form-group">
          <span><input type="text" [type]="FieldTextType ? 'text' : 'password'"
              class="form-control form-rounded mx-auto mt-4" formControlName="password" id="password" name="password" 
              placeholder="Password" required></span>
          <span class="icon fa fa-lock fa-lg"></span>
          <div class="invalid-feedback">
            Please enter password.
          </div>

          <i class="icon-eye fa fa-eyeIcon" [ngClass]="{
        'fa-eye-slash': !FieldTextType,
        'fa-eye': FieldTextType
      }" (click)="toggleFieldTextType()"></i>
        </div>

        <div class="d-flex justify-content-between">
          <div class="form-group mt-3 remember-me fw-bold">
            <span><input type="checkbox" value="{{rememberMeChecked}}" id="rememberMe" [(ngModel)]="rememberMeChecked"
                [ngModelOptions]=" 
             {standalone: true}" [checked]="rememberMeChecked" (click)="setcookie()" autocomplete="off"></span>
            <span class="fw-bold ms-2"><label for="rememberMe">Remember me</label></span>

          </div>

          <div class="form-group mt-3 forgot-password">
          <span class="ms-1"> <a href="" class="text-dark" routerLink="/forgotpassword">Forgot Password?</a></span>
        </div>
        </div>

        <!-- <div class="d-grid col-lg-5 mx-auto mt-4 sign-in">
          <button class="btn fw-bold" type="submit" value="Login" (click)="loginEmployee()">Sign in</button>
        </div> -->

        <div class="d-grid gap-2 col-lg-5 mx-auto justify-content-center mt-4 sign-in" >
          <button class="btn btn-success" type="submit"  (click)="loginEmployee()">Sign in</button>
        </div>

        <!-- <div class="text-center mt-4">
        <hr class="before-or">
        <span class="login-with" style="color: 
#929292">Or login with</span>
        <hr class="after-or">
      </div> -->

        <!-- <div class="d-grid gap-1 col-lg-5 mx-auto border rounded-pill mt-4 google-btn">
        <button class="btn media-Icon" type="button"  (click)="loginWithGoogle()">
          <img src="../../assets/Images/google-color-svgrepo-com.svg" alt="" class="google-icon mt-1">

          <span class="fw-bold">Google</span>
        </button>
      </div> -->

        <!-- <div class="d-grid gap-1 col-5 mx-auto border rounded-pill mt-4">
        <button class="btn media-Icon" type="button">
          <img src="../../assets/Images/apple-color-svgrepo-com.svg" alt="" class="apple-icon">

          <span class="fw-bold">Apple</span>
        </button>
      </div> -->

      </div>


    </div>
  </form>


  <p-toast></p-toast>

</body>

