<!-- <div class="container-fluid d-flex justify-content-center align-items-center" style="height: 100vh;overflow: hidden;">
   
     <div class="card row justify-content-center " style="width: 25vw;height: 60vh;">

        
     </div>
</div> -->

<div class="parent grid-margin vh-100">
    <div class="child">
    <form [formGroup]="forgotPassword">
        <div class=" d-flex flex-column justify-content-center align-items-center mt-2">
            <span><img class="" src="../../assets/exclamation-circle-svgrepo-com.svg" alt=""
                    style="width: 70px;"></span>
            <span class="mt-4">
                <h4 class="fw-bold">Forgot Password</h4>
            </span>

           
            <!-- <span class="text-secondary w-75 ms-2"> Enter you email and we'll send you a link to reset your
                password</span> -->


            <div class="form-group">
                <span><input type="text" class="form-control form-rounded mx-auto mt-5" formControlName="email"
                        id="email" name="email" placeholder="Email"></span>
                <span class="icon fa fa-envelope"></span>
            </div>

        </div>
        <div class="d-grid gap-2 col-8 mx-auto justify-content-center mt-5">
            <button class="btn btn-success" type="button" (click)="ForgotPass()">Submit</button>

            <div class="d-flex justify-content-center mt-5 align-items-center">
                <span class="me-2 "><i class=""></i></span>
                <span class="text-secondary" routerLink="/" style="cursor: pointer;">Back to Login</span>
            </div>
        </div>
    </form>

    </div>
</div>
<p-toast></p-toast>